.page {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  position: relative;
  padding: 0;
}

.lobby,
.timer-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}

.timer-center {
  height: 70vh;
}

.lobby {
  margin-top: 20px;
  padding: 10px;
}

.lobby button, .card-leaderboard button {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
  background: rgb(19, 104, 206);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  min-height: 42px;
  padding: 0px 16px 4px;
  line-height: 0.875rem;
}

/* Leaderboard */
.leaderboard {
  margin: 30px;
}

.card-leaderboard {
  margin: 0 auto;
  padding: 15px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.75);
}

.card-leaderboard h1 {
  text-align: center;
}

.winner-leaderboard{
  text-align: center;
}

.winner-leaderboard img {
  width: 70px;
}

.text-winner {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.text-score {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.winner-leaderboard ol {
  margin-top: 17px;
}

.winner-leaderboard ol li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 15px;
  background-color: rgba(113, 113, 113, 0.1);
  border-radius: 30px;
  margin: 10px 0px;
  font-size: 1.2rem;
} 

.winner-leaderboard ol li span:nth-child(1) {
  font-weight: bold;
}



